@using InquilinxsUnidxs.Presenters

@model RenterPresenter

@Html.ActionLink("Back to Index", "Index")

<h1>Renter Details</h1>

<div>
    <label>First Name:</label>
    <span>@Model.FirstName</span>
</div>

<div>
    <label>Last Name:</label>
    <span>@Model.LastName</span>
</div>

<div>
    <label>Address 1:</label>
    <span>@Model.Address.Address1</span>
</div>

<div>
    <label>Address 2:</label>
    <span>@Model.Address.Address2</span>
</div>

<div>
    <label>City:</label>
    <span>@Model.Address.City</span>
</div>

<div>
    <label>State:</label>
    <span>@Model.Address.State.Abbreviation</span>
</div>

<div>
    <label>ZIP:</label>
    <span>@Model.Address.ZIP</span>
</div>