@using InquilinxsUnidxs.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquilinxs Unidxs</title>
    @Styles.Render("~/Content/CssBundle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inquilinxs Unidxs Renter Database", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Property Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Property Management Companies", "Index", "PropertyManagementCompany")</li>
                            <li>@Html.ActionLink("Landlords", "Index", "Landlord")</li>                        
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Neighborhood<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Neighborhoods", "Index", "Neighborhood")</li>
                            <li>@Html.ActionLink("Neighborhood Associations", "Index", "NeighborhoodAssociation")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Buildings", "Index", "Building")</li>
                    <li>@Html.ActionLink("Residences", "Index", "Residence")</li>
                    <li>@Html.ActionLink("Renters", "Index", "Renter")</li>
                    <li>@Html.ActionLink("Map", "Show", "Map")</li>
                </ul>
            }
            </div>
        </div>
    </div>
    <div class="container body-content">        
        @Html.Partial("_Success")
        @Html.Partial("_Error")
        @RenderBody()
        <div class="site-footer">
            <hr />
            <footer>
                <div class="footer-nav">
                    @if (!Request.IsAuthenticated)
                    {
                        <span class="footer-link">@Html.ActionLink("Log In", "LogIn", "Authentication")</span>
                        <span class="footer-link">@Html.ActionLink("Register", "NewUser", "Authentication")</span>
                    }
                    else
                    {
                        <span class="footer-link">@Html.ActionLink("Log Out", "LogOut", "Authentication")</span>
                    }
                </div>
                <p>&copy; @DateTime.Now.Year - Inquilinxs Unidxs</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/jquery-to-dictionary")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</body>
</html>