@using UseCases.Presenters

@model NeighborhoodAssociationPresenter

@Html.ActionLink("Back to Index", "Index")

<h1>Neighborhood Association Details</h1>

<div>
    <label>Name:</label>
    @Model.Name
</div>

<div>
    <label>Contact First Name:</label>
    @Model.ContactFirstName
</div>

<div>
    <label>Contact Last Name:</label>
    @Model.ContactLastName
</div>

<div>
    <label>Contact Title:</label>
    @Model.ContactTitle
</div>

<div>
    <label>Contact Phone Number:</label>
    @Model.ContactPhoneNumber
</div>